In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])
df.head()

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [3]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [12]:

df.nunique() # Number of unique values in each column

A    4
B    4
C    4
dtype: int64

In [ ]:
df['A'].unique() # Unique values in column 'A'

array([ 1,  4,  7, 10])

In [14]:
df.shape

(4, 3)

In [ ]:
df.size # Total number of elements in the DataFrame

12